{% extends "AppPortalBundle::layout.html.twig" %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ 'Reset password' }}{% endblock %}

{% block content %}
    <div style="text-align: center">
        <h1>{{ 'user.reset_password.title' | trans }}</h1>
    </div>
    {{ form(form) }}
{% endblock %}
