{% extends "AppPortalBundle::layout.html.twig" %}

{% block title 'Sales Conditions' %}

{% block content %}
    <div style="text-align: center">
        <h1>Sales conditions</h1>
    </div>
{% endblock %}
