{% extends "base_admin.html.twig" %}

{% block body_admin %}

{% trans_default_domain 'FOSUserBundle' %}

<h2>Send Mail to reset password</h2>

<div class="clear"></div> <!-- End .clear -->
<div class="content-box"><!-- Start Content Box -->
    <div class="content-box-header">

        <div class="clear"></div>

    </div> <!-- End .content-box-header -->

    <div class="content-box-content">   
         <div class="notification error png_bg">
              <div>{{ 'resetting.password_already_requested'|trans }}</div>
         </div>
    </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->

{% endblock body_admin %}