{% block subject %}Password Request{% endblock %}

{% block body %}
Hello {{ username }},

You have requested a brand new password. Click to this <a href="{{ request_link }}">link</a> to reset your password.
{% endblock %}
